.venv
venv
__pycache__
*.pyc
.git
.pytest_cache
.coverage
htmlcov
tests
*.egg-info
.DS_Store
.env
config-mac.json
configs/
*.json
!pyproject.toml
!alembic.ini
!config-docker.json
!config-template.json
!requirements-base.txt
node_modules
prds/
*.wav
*.mp3
*.log
